
.Simp {
    background-color: var(--tag-one-colour);
}

.Cooks {
    background-color: var(--tag-two-colour);
}

.SoundCloud_Rapper {
    background-color: var(--tag-three-colour);
}

.Certified_Gamer {
    background-color: var(--tag-four-colour);
}

.FAANG {
    background-color: var(--tag-five-colour);
}

.DTF {
    background-color: var(--tag-six-colour);
}

.CS_Nerd {
    background-color: var(--tag-seven-colour);
}