
/* ~/styles/globals.css */

/* Import Bootstrap styles */
@import '~bootstrap/dist/css/bootstrap.min.css';

/* Add your custom styles below */

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --square-button-blue-inactive: #437FC5;
  --square-button-blue-active: #2F527B;
  --square-button-blue-hover: #3E72B0;
  --square-button-blue-text-color: white; 
  --navbar-background-color: rgba(0, 0, 0, 0.72);
  --text-color-secondary: white;
  --text-color-primary: black;
  --body-color-primary: #437FC5;
  --round-button-active-background: white;
  --round-button-active-text: black;
  --round-button-inactive-background: #67A3EB;
  --round-button-inactive-text: white;
  --round-button-hover: #2F527B;
  --match-card-background: #D9D9D9;
  --browse-card-background: white;
  --browse-card-button: #D9D9D9;
  --menu-background:  #D9D9D9;
  --menu-tab:  #437FC5;
  --dark-blue-text: #2F527B;
  /* Simp */
  --tag-one-colour: #E3F4FC;
  /* Cook */
  --tag-two-colour: #FFEA96;
  /* Soundcloud Rapper */
  --tag-three-colour: #E3FCED;
  /* Certified_Gamer */
  --tag-four-colour: #B3D6FF;
  /* FAANG  */
  --tag-five-colour: #A3F1F6;
  /* DTF  */
  --tag-six-colour:#FFC4D9;
  /* CS Nerd */
  --tag-seven-colour:#FFD29D; 

  --applicant-button-accept: #61D890;
  --applicant-button-reject: #D25E5E;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
/* Override default button colours */
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active {
    background-color: var(--square-button-blue-active);
    border-color: var(--square-button-blue-inactive);
}

.btn-primary {
  border-color: var(--square-button-blue-inactive);   
  background-color: var(--square-button-blue-inactive);
}

.btn-primary:hover {
  background-color: var(--square-button-blue-hover);
}

/* Override default button colours */
.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active {
  background-color: var(--round-button-inactive-background);
  border-color: var(--round-button-inactive-background);
}

.btn-secondary {
  border-color: var(--round-button-inactive-background);
  background-color: var(--round-button-inactive-background);
}

.btn-secondary:hover {
  background-color: var(--round-button-inactive-background);
  border-color: var(--round-button-inactive-background);
}
.btn-tertiary {
  background-color: var(--browse-card-button);
}

.btn-tertiary:hover {
  background-color: var(--browse-card-button);
}

.hover {
  cursor: pointer
}

.accordion {
  --bs-accordion-bg:var(--menu-background);
  --bs-accordion-active-bg: var(--menu-background);
  --bs-accordion-btn-focus-box-shadow: 0 0 0 0.1rem var(--menu-tab);
  width: clamp(150px, 25vw, 250px);
  --bs-accordion-border-color: var(--menu-background);
}

.text-primary {
  color: var(--dark-blue-text) !important;
}
