
.dm {
    height: calc(100vh - 255px) ; /* I am kind of stupid, so this is being calculatted using 100% of screen - each size of other elements*/
}
.dmContainer {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #437FC5;
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 120px;
    justify-content: space-between
}

.dmButton {
    font-size: clamp(10px, 1vw,16px);
    font-weight: 300;
    font-family: 'Jost', sans-serif;
    padding: 10px 15px;
    background-color: #67A3EB;
    border-radius: 15px;
    color: white;
    outline: 0;
    border: 0; 
    margin-right: clamp(10px, 2vw, 15px);
    cursor: pointer
}

.dmNumMatchesText {
    color: white;
    margin-bottom: 0px;
}

.dmWhiteButton {
    background-color: white;
    color: black
}

.dmBody {
    background-color: #437FC5;
    height: calc(100% - 140px);
}