
.dm {
    height: calc(100vh - 230px) ; /* I am kind of stupid, so this is being calculatted using 100% of screen - each size of other elements*/
}
.dmContainer {
    background-color: var(--body-color-primary);
    height: 120px;
}

.dmButton {
    font-weight: 300;
    font-family: 'Jost', sans-serif;
    background-color: var(--round-button-inactive-background);
    color: var(--round-button-inactive-text);
    margin-right: clamp(10px, 2vw, 15px);
}

.dmButton:hover{
    background-color: var(--round-button-inactive-background);
    color: var(--round-button-inactive-text);
}

.dmWhiteButton {
    background-color: var(--round-button-active-background);
    color: var(--round-button-active-text);
}

.dmWhiteButton:hover {
    background-color: var(--round-button-active-background);
    color: var(--round-button-active-text);
}

.dmNumMatchesText {
    color: var(--text-color-secondary);
    margin-bottom: 0px;
}

.dmBody {
    background-color: var(--body-color-primary);
    height: calc(100% - 140px);
    padding: 20px;
}
.dmMatchesGrid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Adjust the column width as needed */
    gap: 1.5em; /* Only determines the gap between the rows; gap between cards is autoset based on card width*/
    overflow: auto;
    justify-items: center
}