.menuToggle {
    background-color: var(--menu-background);
    padding: 10px;
    width: 3em;
    height: 3em;
    display: flex;
    justify-content: center;
}

.menuTab{
    background-color: var(--menu-tab);
    height: 50px;
    width: 50px;
}

.menuContainer {
    background-color: var(--menu-background);
    width: fit-content;
    top: calc(3em + 12px); /* this is so hacky im so sorry */
    /*3 em is the height of the menu toggle, and 12px is the padding from navbar*/
}