.Simp {
    background-color: #E3F4FC;
}

.Cooks {
    background-color: #FFEA96;
}

.SoundCloud_Rapper {
    background-color: #E3FCED;
}

.Certified_Gamer {
    background-color: #B3D6FF
}

.FAANG {
    background-color: #A3F1F6;
}

.DTF {
    background-color: #FFC4D9;
}

.CS_Nerd {
    background-color: #FFD29D;
}

