.main {
  background-color: var(--body-color-primary);
  height: 100%;
  width: 100%;
}

.accountButton {
  background-color: var(--landing-button-inactive-background);
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 8px 0 rgba(0, 0, 0, 0.19);
}

.accountButton:hover {
  background-color: var(--landing-button-active-background);
}

.header {
  color: white;
  padding-top: 1em;
  font-size: 6.5rem;
  font-weight: bold;
  text-shadow: 6px 6px 2px rgba(0, 0, 0, 0.25);
}

.subheader {
  color: white;
  font-size: 2em;
  font-weight: bold;
  text-shadow: 6px 6px 2px rgba(0, 0, 0, 0.25);
}

.dropdown {
  padding-top: 2em;
  padding-bottom: 16em;
}

.sectionHeader {
  color: white;
  font-size: 2.2em;
  font-weight: bold;
  text-shadow: 6px 6px 2px rgba(0, 0, 0, 0.25);
  padding-left: 3em;
  padding-right: 3em;
}

.sectionDescription {
  color: white;
  font-size: 1em;
  font-weight: 500;
  padding-left: 6.8em;
  padding-right: 6.8em;
  padding-bottom: 3em;
}

// Card Carousel
.cardSwiperWrapper {
  display: flex;
  justify-content: center;
  padding-bottom: 5vh;
}

.cardSwiper {
  margin: 0px;
  background-color: white;
  display: grid;
  place-items: center;
  align-content: center;
  position: relative;
}

.cardGroup,
.card {
  aspect-ratio: 5 / 7;
}

.cardGroup {
  width: 14vw;
  background-color: var(--body-color-primary);
}

.card {
  background-color: rgba(255, 255, 255, 0.05);
  transition: transform 800ms cubic-bezier(0.05, 0.43, 0.25, 0.95);
  position: absolute;
  background-position: center;
  background-size: cover;
}

.bigCard {
  aspect-ratio: 5 / 7;
  width: 14vw;
  background-color: white;
  border-radius: 2vw;
}

.smallCard {
  width: 10vw;
  left: 2vw;
  top: 4vh;
  border-radius: 2vw;
  box-shadow: -1vmin 1vmin 2vmin rgba(0, 0, 0, 0.25);
}

/* Default Card Positioning */

.bigCard:nth-child(1) {
  background-image: url("./assets/carouselCards/pose.jpg");
}

.smallCard:nth-child(2) {
  background-image: url("./assets/carouselCards/beach.jpg");
  transform: rotate(-5deg);
}

.smallCard:nth-child(3) {
  background-image: url("./assets/carouselCards/dog.jpg");
  transform: rotate(-10deg);
}

.smallCard:nth-child(4) {
  background-image: url("./assets/carouselCards/drinks.jpg");
  transform: rotate(-1deg);
}

.smallCard:nth-child(5) {
  background-image: url("./assets/carouselCards/flower.jpg");
  transform: rotate(-1deg);
}

.smallCard:nth-child(6) {
  background-image: url("./assets/carouselCards/pastry.jpg");
  transform: otate(-1deg);
}

.smallCard:nth-child(7) {
  background-image: url("./assets/carouselCards/nyc.jpg");
  transform: rotate(-1deg);
}

/* Hovered Card Positioning */

.cardGroup:hover > .card {
  box-shadow: -2vmin 2vmin 3vmin rgba(0, 0, 0, 0.4);
}

.cardGroup:hover > .bigCard:nth-child(1) {
  transform: scale(125%);
}

.cardGroup:hover > .smallCard:nth-child(2) {
  transform: translate(-25%) rotate(-8deg);
}

.cardGroup:hover > .smallCard:nth-child(3) {
  transform: translate(25%) rotate(8deg);
}

.cardGroup:hover > .smallCard:nth-child(4) {
  transform: translate(75%) rotate(24deg);
}

.cardGroup:hover > .smallCard:nth-child(5) {
  transform: translate(200%) rotate(-15deg);
}

.cardGroup:hover > .smallCard:nth-child(6) {
  transform: translate(160%) rotate(15deg);
}

.cardGroup:hover > .smallCard:nth-child(7) {
  transform: translate(-200%) rotate(15deg);
}
