.main {
  background-color: var(--body-color-primary);
  height: 100%;
  width: 100%;
}

.accountButton {
  background-color: var(--landing-button-inactive-background);
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 8px 0 rgba(0, 0, 0, 0.19);
}

.accountButton:hover {
  background-color: var(--landing-button-active-background);
}

.header {
  color: white;
  padding-top: 1em;
  font-size: 6.5rem;
  font-weight: bold;
  text-shadow: 6px 6px 2px rgba(0, 0, 0, 0.25);
}

.subheader {
  color: white;
  font-size: 2em;
  font-weight: bold;
  text-shadow: 6px 6px 2px rgba(0, 0, 0, 0.25);
}

.dropdown {
  padding-top: 2em;
  padding-bottom: 16em;
}

.sectionHeader {
  color: white;
  font-size: 2.2em;
  font-weight: bold;
  text-shadow: 6px 6px 2px rgba(0, 0, 0, 0.25);
  padding-left: 3em;
  padding-right: 3em;
}

.sectionDescription {
  color: white;
  font-size: 1em;
  font-weight: 500;
  padding-left: 6.8em;
  padding-right: 6.8em;
  padding-bottom: 3em;
}

// Card Carousel
.cardSwiper {
    margin: 0px;
    height: 40vh;
    // background-color: var(--body-color-primary);
    background-color: white;
    display: grid;
    place-items: center;
    align-content: center;
}

.cardGroup,
.card {
    aspect-ratio: 5 / 7;
}

.cardGroup,
.bigCard {
    width: 30vmin;
}

.card {
    background-color: rgba(255, 255, 255, 0.05);
    position: absolute;
    transition: transform 800ms cubic-bezier(.05,.43,.25,.95);
    background-position: center;
    background-size: cover;
}

.bigCard {
    width: 20vmin;
    aspect-ratio: 5 / 7;
    background-color: white;
    border-radius: 1vmin;
}

.smallCard {
    width: 12vmin;
    border-radius: 2vmin;
    transform: translate(-50%, -50%);
    box-shadow: -1vmin 1vmin 2vmin rgba(0, 0, 0, 0.25);
}

.bigCard:nth-child(1) {
    background-image: url("./assets/carouselCards/pose.jpg");
    transform: translateX(-10%) rotate(-1deg);
}

.smallCard:nth-child(2) {
    background-image: url("./assets/carouselCards/beach.jpg");
    transform: translateX(-10%) rotate(-5deg);
}

.smallCard:nth-child(3) {
    background-image: url("./assets/carouselCards/dog.jpg");
    transform: translateX(-10%) rotate(-10deg);
}

.smallCard:nth-child(4) {
    background-image: url("./assets/carouselCards/drinks.jpg");
    transform: translateX(-10%) rotate(-1deg);
}

.smallCard:nth-child(5) {
    background-image: url("./assets/carouselCards/flower.jpg");
    transform: translateX(-10%) rotate(-1deg);
}

.smallCard:nth-child(6) {
    background-image: url("./assets/carouselCards/pastry.jpg");
    transform: translateX(-10%) rotate(-1deg);
}

.smallCard:nth-child(7) {
    background-image: url("./assets/carouselCards/nyc.jpg");
    transform: translateX(-10%) rotate(-1deg);
}

.cardGroup:hover > .card {  
    box-shadow: -2vmin 2vmin 3vmin rgba(0, 0, 0, 0.4);
  }
  
  .cardGroup:hover > .bigCard:nth-child(1) {
    transform: translate(-75%, 16%) rotate(-24deg);
  }
  
  .cardGroup:hover > .smallCard:nth-child(2) {
    transform: translate(-25%, 8%) rotate(-8deg);
  }
  
  .cardGroup:hover > .smallCard:nth-child(3) {
    transform: translate(25%, 8%) rotate(8deg);
  }
  
  .cardGroup:hover > .smallCard:nth-child(4) {
    transform: translate(75%, 16%) rotate(24deg);
  }
  
  .cardGroup:hover > .smallCard:nth-child(5) {
    transform: translate(200%, -160%) rotate(-15deg);
  }
  
  .cardGroup:hover > .smallCard:nth-child(6) {
    transform: translate(160%, 170%) rotate(15deg);
  }
  
  .cardGroup:hover > .smallCard:nth-child(7) {
    transform: translate(-200%, -170%) rotate(15deg);
  }
