.profilePic{
    width: 10em;
    height: 10em;
    background-color: orange;
}

.firstSectionContainer{
    display:flex;
    margin-top: 2em;
    margin-left: 5em;
}

.description{
    margin-left: 3em;
    font-size: clamp(18px, 2vw, 30px);
}

.applyButton {
    margin-top: 1em;
    font-weight: 300;
    border-radius: 12px;
    padding: 10px 20px  10px 20px ;
    font-family: 'Jost', sans-serif;
    margin-right: clamp(10px, 2vw, 15px);
}

.shortListButton{
    margin-top: 1em;
    font-weight: 300;
    border-radius: 12px;
    padding: 10px 20px  10px 20px ;
    font-family: 'Jost', sans-serif;
    margin-right: clamp(10px, 2vw, 15px);
}

.postingInformation{
    padding: 10px 20px  10px 20px ;
    margin-top: 2em;
    margin-left: 1vw;
    border-radius: 10px;
    width: 98vw;
    font-size: clamp(18px, 1vw, 30px);
    font-family: 'Jost', sans-serif;
    color: white;
    background-color: #437FC5;
}

.tagsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 3fr));
    grid-row-gap: clamp(10px, 0.5vw, 20px);
    grid-column-gap: clamp(10px, 5vw, 80px);
    margin: clamp(10px, 5vw, 50px) clamp(10px, 5vw, 50px);
    align-items: center;
}

.postingDetailsContainer {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 3fr;
    grid-row-gap: clamp(10px, 0.5vw, 20px);
    grid-column-gap: clamp(10px, 5vw, 80px);
    padding: 24px 24px 0px 24px;
}

.imageCarouselWrapper {
    grid-column: span 1;
    grid-row: span 3;
    display: flex;
    justify-content: center;
}

.imageCarousel {
    background-color: black;
    //change height to auto later
    height: 260px;
    width: 480px;
    border-radius: 25px;
}

.descriptionWrapper {
    grid-column: span 1;
    grid-row: span 1;
    flex-direction: column;
    padding: 20px 10px;
    background-color: #D8EAFF;
    padding: clamp(16px, 1vw, 20px);
    border-radius: 25px;
}

.descriptionHeader {
    font-size: clamp(12px, 5vh, 16px);
    font-weight: bold;
}

.descriptionDetails {
    font-size: clamp(10px, 5vh, 14px);  
}

// change grid layout on smaller screens
@media screen and (max-width: 1000px) {
    .postingDetailsContainer {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    .imageCarousel {
        background-color: black;
        height: 260px;
        width: 380px;
        border-radius: 25px;
    }
}