.accountContainer {
    margin: 30px;
}
.accountHeader {
    font-size: clamp(18px, 2vw, 30px);
    font-weight: 600;
    color: var(--text-color-primary);
}
.accountButton {
    font-weight: 300;
    border-radius: 12px;
    padding: 15px 23px 15px 23px;
    font-family: 'Jost', sans-serif;
    margin-right: clamp(10px, 2vw, 15px);
}
.accountButtonsContainer {
    display: flex;
}
.activeButton {
    background-color: var(--square-button-blue-active)
}

